/* styles.css */
*{
    margin: 0 0;
    padding: 0 0;
    
    font-family: Arial, Helvetica, sans-serif;
}
/* Navbar styles */
.navbar {
    background-color: #fff; /* Main color */
    color: #ff6b81;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

.navbar h1 {
    margin: 0;
    padding: 0;
}

.navbar ul {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    padding: 1%;
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}

.navbar ul li a:hover {
    color: #0a0a0a; /* Change color on hover */
}

/* Main content styles */
.main-content {
    background-color: #f3f2f2;
    padding: 20px;
}

/* Admin button styles */
.admin-btn {
    margin-bottom: 20px;
    margin-top: 20px;
}

.admin-btn a{
    padding: 10px 20px;
    text-decoration: none;
    background-color: #6a47e7;
    color: #fff;
    border: none;
    cursor: pointer;
}

.admin-btn a:hover {
    background-color: #100cec;
}

/* Admin table styles */
.admin-table {
    margin-top: 20px;
}

.admin-table table {
    width: 100%;
    border-collapse: collapse;
}

.admin-table th, .admin-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.admin-table th {
    background-color: #333;
    color: #fff;
}

.admin-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admin-table button a{
    padding: 5px 10px;
    background-color: #ff6b81;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.admin-table button a:hover {
    background-color: #ff3d53;
}

/* Add admin form styles */
.add-admin-form {
    width: 50%;
    margin: 20px auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ff6b81;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff3d53;
}

/* Dashboard boxes */
.dashboard-boxes {
    display: flex;
    flex-wrap: nowrap; /* Ensures boxes stay in the same row */
    justify-content: space-between;
    margin-top: 20px;
}

.dashboard-box {
    width: calc(25% - 20px); /* Each box takes 25% width of the parent container */
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Grey border */
    border-radius: 5px;
}

.dashboard-box:last-child {
    margin-right: 0; /* Remove right margin from the last box */
}

.dashboard-box h3 {
    margin-top: 0;
}

.dashboard-box p {
    margin: 10px 0;
}


/* Footer styles */
footer {
    background-color: #ff6b81; /* Main color */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
